<!DOCTYPE html>
<html>
<head>
    <title>Cascade</title>
    <!-- Normally you shouldn't import all of this manually but there is only this page so it is "fine"-->
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto Mono'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <script type="importmap"> {"imports": { 
        "react": "https://cdn.skypack.dev/react@17.0.1",
        "react-dom": "https://cdn.skypack.dev/react-dom@17.0.1",
        "highlight.js": "https://cdn.skypack.dev/highlight.js@11.11.1"
    }}</script>
    <script>const exports = {};</script>
    <script src="static/scripts/main.js" type="module"></script>
    <script src="static/scripts/listeners.js" type="module"></script>
</head>
<body>
    <div id="sidebar" class="sidebar">
        <div id="" class="button-container" style="justify-content: center;">
            <button class="conversation-button-container button" id="newConversationButton" title="New Conversation"><span class="material-symbols-outlined">forum</span></button>
            <button class="conversation-button-container button" id="newCharacterButton" title="New Character"><span class="material-symbols-outlined">article_person</span></button>
            <button class="conversation-button-container button" id="swapLLMModelButton" title="Swap LLM (Non Function)" style="cursor: not-allowed;"><span class="material-symbols-outlined">api</span></button>
            <button class="conversation-button-container dangerous-button" id="clearHistoryButton" title="Clear entire History (Non Functional)" style="cursor: not-allowed;"><span class="material-symbols-outlined">delete_forever</span></button>
        </div>
        <hr>
        <div id ="conversation-sidebar" class="sub-sidebar"></div>
        <hr>
        <div id ="character-sidebar" class="sub-sidebar"></div>
    </div>
    <div id="contentContainer" class="container, content">
        <div id="content">
            
        </div>
        <div id="input-container" class="input-container">
            <textarea type="text" cols="5" spellcheck="true" wrap="hard" id="messageInput" class="input-bar" placeholder="Type a message..."></textarea>
            <button id="sendButton" class="button"><span class="material-symbols-outlined" title="Send Message">send</span></button>
            <button id="clearButton" class="dangerous-button"><span class="material-symbols-outlined" title="Clear Chat History">delete_forever</span></button>
        </div>
    </div>
</body>
</html>